.table{
    border-radius: 10px !important;
    box-shadow: 0px 5px 8px #374151 !important;
}
.header-table{
    color: #55873C !important;

}
.pagination {
  margin-top: 15px;
  display: flex;
  gap: 8px;
}

.pagination button {
  padding: 6px 12px;
  background: #e5e7eb;
  border: 1px solid #374151;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background: #d1d5db;
}

.active-page {
  background: #374151;
  color: white;
  font-weight: bold;
  border: 1px solid #111827;
}
