/*TABLA*/
.table-responsive-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.table-scroll {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-scroll table {
  min-width: 700px;
}

html, body {
  width: 100%;
  overflow-x: hidden !important;
}

.table-wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.header-table{
    color: #55873C !important;
}
.data{
  color: #374151 !important;
  height: 49px !important;
  font-size: 14px;
}
.btn-process{
  min-width: 150px;
  background-color: #55873C;
  color: #ffffff;
}
.btn-process:hover{
  background-color: #44732E;
  color: #ffffff;
}

/*FILTROS*/
.filter-input,
.filter-select{
  padding: 8px;
  border: 1px solid #9CA3AF;
  border-radius: 7px;
}

.input-search-range{
  padding: 8px;
  border: 1px solid #9CA3AF;
  border-radius: 7px;
  width: 100px;
}

.filter-select {
  color: #374151 !important;
}

.filter-select option[value=""] {
  color: #9CA3AF !important;
}

.filter-input:focus,
.filter-select:focus,
.input-search-range:focus{ 
  outline: none;                 
}

.filter-range{
  display: flex;
  gap: 10px;
}

.filter-input,
.filter-select,
.filter-range input {
  width: 100%;
}

.search-wrapper {
  width: 100%;
  position: relative;
  display: block;
}

.search-wrapper input {
  width: 100% !important;
}

@media (max-width: 767px) {
  .filter-input,
  .filter-select{
    margin-bottom: 10px;
  }
  .filter-range {
    flex-direction: column;
    width: 100%;
  }

  .filter-range input {
    width: 100%;
    max-width: none;
  }

  .separator {
    display: none;
  }
}

@media (min-width: 768px) {
  .filter-range input {
    max-width: 100px;
  }
}



/*PAGINACIÓN*/

.pagination {
  margin-top: 15px;
  display: flex;
  gap: 8px;
}
.btn-pagination-active,
.btn-pagination-active:hover{
  max-height: 40px;
  background-color: #55873C;
  color: #ffffff;
}
.btn-pagination-inactive,
  .btn-pagination-inactive :hover{
  color: #374151;
  border-color: transparent !important;
}
.btn-arrow{
  background-color: #ffffff;
  color: #55873C !important;
  font-weight: bolder;
}
.btn-arrow:disabled{
  border-color: transparent !important;
  opacity: 50%;
}

.pagination-scroll {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding-bottom: 8px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  justify-content: center;
}

.pagination-scroll::-webkit-scrollbar {
  height: 5px;
}

.pagination-scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* gris suave */
  border-radius: 5px;
}

/* TOTALS */
.row-totals {
  width: 100%;
  text-align: center;
  margin: 15px 0;
  font-weight: 600;
  color: #374151;
}

@media (min-width: 768px) {
  .row-totals {
    text-align: left;
    padding-left: 5px;
  }
}
